#ir-app {
    font-family: Helvetica, sans-serif;
}

#hd {
    padding: 5px;
    color: #fff;
    background-color: #39c;
    border-bottom: 1px solid #36c;
    font-style: italic;
}

h1, h2, h3 {
    margin: 0;
    /*font-family: Georgia, "Times New Roman", serif;*/
}

h1 {
    font-size: 36px;
}

.error, .time-input, .block {
    margin: 10px;
    padding: 10px;
}

.error {
    text-align: center;
    background-color: #fcc;
}

.error div {
    font-size: 70%;
    color: #222;
}

#flickr-info {
    font-size: 85%;
    background: #dff;
    padding: 3px;
}

#shout-button {
    font-size: 24px;
}

#shout {
    padding: 5px;
    background: #ffc;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.detail {
    font-size: 80%;
    color: #aaa;
}

form {
    margin: 0;
}

#ft {
    text-align: center;
    text-transform: uppercase;
    font-size: 70%;
    color: #bbb;
}
    
